body{
    background: rgb(236, 238, 240);
}
#popupDiv{
    width: 250px;
    text-align: center;
}
#getTitle{
    width: 100px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: rgb(5, 130, 247);
    color: white;
    cursor: pointer;
}
#showTitle{
    margin: 5px;
    padding: 2px;
}
#titleName{
    text-align: center;
    font-weight: bold;
    font-size: small;
}